<!-- Navbar  pour -->
<div class="navbar mb-5 px-5 shadow-sm sticky-top bg-body">
    <div>
        <h5 *ngIf="isAdminSystem">Administrateur de yone Wi</h5>
        <h5 *ngIf="isAdminReseau">Administrateur du réseau {{reseauUser |  titlecase}}</h5>
    </div>
    <div class="profil">
        <!-- <img src="assets/yonewilogo.png" alt=""> -->
        <img src="https://img.freepik.com/photos-gratuite/bouchent-portrait-belle-femme-fleurs_23-2149150987.jpg?size=626&ext=jpg&ga=GA1.1.1865161314.1704357552&semt=ais" alt="">        
    </div>
</div>