<app-header></app-header>

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="chemin">
        <h5>     
            <a href="" routerLink="/accueil" class="ms-4"> Accueil</a> 
            <i class="bi bi-circle-fill mx-3  icone"></i> 
            <span>Conditions d'utilisation</span>
        </h5>
    </div>
</div>
<!-- Fin banierre  -->

<div class="container">
    <h3 class="titre text-center mb-4">Conditions d’utilisation de <span class="yoneWi">Yone Wi</span></h3>
    <p class="mb-4">En utilisant la plateforme Yone Wi, vous acceptez les conditions d'utilisation suivantes. Veuillez les lire attentivement avant d'utiliser nos services.</p>

    <h5 class="mb-3 fw-bold">1. Utilisation de la Plateforme</h5>
    <h6 class="mb-3 fw-bold">1.1 Eligibilité</h6>
    <p class="mb-4">
        Vous devez avoir au moins 18 ans pour utiliser Yone Wi. En utilisant la plateforme, vous déclarez avoir l'âge requis et être capable de conclure des contrats légalement contraignants.    
    </p>
    
    <h6 class="mb-3 fw-bold">1.2 Compte Utilisateur</h6>
    <p class="mb-4">
        Lors de l'inscription, vous êtes responsable de fournir des informations exactes et complètes. Vous êtes également responsable de la confidentialité de votre compte et de toutes les activités qui s'y déroulent.
    </p>

    <h6 class="mb-3 fw-bold">Utilisation Appropriée</h6>
    <p class="mb-5">
        Vous vous engagez à utiliser la plateforme de manière appropriée et conforme à toutes les lois et réglementations locales, nationales et internationales.
    </p>


    <h5 class="mb-3 fw-bold">2. Contenu de l'Utilisateur</h5>
    <h6 class="mb-3 fw-bold">2.1. Soumission de Contenu</h6>
    <p class="mb-4">
        En soumettant du contenu sur la plateforme, vous accordez à Yone Wi une licence mondiale, non exclusive, libre de redevances pour utiliser, afficher, reproduire et distribuer ce contenu.
    </p>
    
    <h6 class="mb-3 fw-bold">2.2. Contenu Inapproprié</h6>
    <p class="mb-5">
        Il est interdit de publier, transmettre ou partager tout contenu illégal, diffamatoire, obscène, offensant, ou violant les droits de propriété intellectuelle d'autrui.
    </p>
    

    <h5 class="mb-3 fw-bold">3. Partage des informations</h5>
    <h6 class="mb-3 fw-bold">3.1. Exactitude des Informations</h6>
    <p class="mb-4">
        Vous garantissez que toutes les informations que vous fournissez à Yone Wi sont exactes et à jour.
    </p>
    
    <h6 class="mb-3 fw-bold">3.2. Responsabilité</h6>
    <p class="mb-5">
        Yone Wi ne peut être tenu responsable des erreurs, omissions, interruptions, retards, ou dommages résultant de l'utilisation de la plateforme.
    </p>


    <h5 class="mb-3 fw-bold">4. Modifications et Résiliation</h5>
    <h6 class="mb-3 fw-bold">4.1. Modifications</h6>
    <p class="mb-4">
        Yone Wi se réserve le droit de modifier, suspendre ou interrompre tout aspect de la plateforme à tout moment, y compris les fonctionnalités, les heures d'accessibilité et le contenu.
    </p>
    
    <h6 class="mb-3 fw-bold">4.2. Résiliation</h6>
    <p class="mb-5">
        Yone Wi peut résilier ou suspendre votre accès à la plateforme en cas de violation de ces conditions d'utilisation.
    </p>
    

    <h5 class="mb-3 fw-bold">5. Propriété Intellectuelle</h5>
    <h6 class="mb-3 fw-bold">5.1. Droits d'Auteur</h6>
    <p class="mb-5">
        Tous les droits d'auteur, marques de commerce et autres droits de propriété intellectuelle liés à la plateforme sont la propriété exclusive de Yone Wi.
    </p>
    


    <h5 class="mb-3 fw-bold">6. Dispositions Générales</h5>
    <h6 class="mb-3 fw-bold">6.1. Loi Applicable</h6>
    <p class="mb-4">
        Ces conditions d'utilisation sont régies par les lois en vigueur au Sénégal.
    </p>
    
    <h6 class="mb-3 fw-bold">6.2. Modification des Conditions</h6>
    <p class="mb-5">
        Yone Wi se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront publiées sur la plateforme.
    </p>
    

    <p class="mb-5">
        En utilisant Yone Wi, vous acceptez ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser la plateforme.
    </p>

    
</div>

<app-footer></app-footer>