<app-header></app-header>

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="chemin">
        <h5>     
            <a href="" routerLink="/accueil" class="ms-4"> Accueil</a> 
            <i class="bi bi-circle-fill mx-3  icone"></i> 
            <span>Lignes</span>
        </h5>
    </div>
</div>
<!-- Fin banierre  -->

<!-- Contenu lignes  -->
<div class="containerLigne container">
    <div class="mb-5">
        <p class="text-center fs-4">Vous voulez vous déplacer mais vous ne savez quel bus prendre ?</p>
        <!-- <p class="text-center fs-4">Pas de panique.  Recherchez-le !</p> -->
        <p class="text-center fs-4">Recherchez-le !</p>

    </div>

    <!-- Section rechercher itinéraires -->
    <div class="sectionItineraire d-flex justify-content-center sectionEspace">
        <form class="row g-3 ">
            <!-- départ  -->
            <div class="col-auto input-group-lg mb-3">
                <input type="text" id="depart" name="depart" class="form-control" placeholder="depart...." [(ngModel)]="departInput">
            </div>

            <div class="col-auto input-group-lg mb-3">
                <input type="text" id="arrivee" name="arrivee" class="form-control" placeholder="Arrivée...." [(ngModel)]="arriveeInput">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-lg btnRechercher fw-bold mb-3 me-3" (click)="onSearchItineraire()">Rechercher</button>
              <button  class="btn btn-lg btnAnnuler fw-bold mb-3" (click)="annulerSearch()" *ngIf="isSerach">Annuler</button>
            </div>            
        </form>
    </div>

    <!-- Section lignes de AFTU  -->
    <div class="sectionLignesAFTU sectionEspace">
        <!-- Recherhcer une ligne  -->
        <div class="row sectionEspace ligneReseauSearch ">
            <div class="col-sm-8">
                <h3 class="titre">Lignes réseau AFTU </h3>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                <input type="text" name="search" class="form-control" placeholder="Rechercher une ligne" [(ngModel)]="filterValue" (input)="onSearch()">
                <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
              </div>
            </div>  
        </div>

        <!-- Liste des lignes du réseau  -->
        <div class="ligne row ">

            <div class="col-md-4 mb-5" *ngFor="let ligneAftu of getItemsPage(tabLigneAftuFilter)">
                <div class="card text-center p-3 rounded-4 card-ligne" *ngIf="ligneAftu.sections.length">
                    <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">{{ligneAftu.nom}}</span></p>
                    <!-- <span class="numLigne fw-bold fs-1 shadow-sm">1</span> -->
                    <h4 class="itineraireLigne mb-4">{{ligneAftu.lieuDepart}} - {{ligneAftu.lieuArrivee}}</h4>

                    <!-- Liste des sections  -->
                    <div class="">
                        <h5 class="sections fw-bold mb-3">Sections:</h5>

                        <div class="sectionsConatiner container mb-3">
                            <!-- section 1  -->
                            <div class="row mb-3" *ngFor="let section of ligneAftu.sections">
                                <div class="col-4">{{section.depart}} </div>
                                <div class="col-1"><i class="bi bi-arrow-left-right"></i>  </div>
                                <div class="col-4">{{section.arrivee}}</div>
                                <div class="col-3">{{section.prix}} FCFA</div>

                                <!-- <div class="col-4">{{section.depart}} </div>
                                    <div class="col-1"> <i class="bi bi-arrow-left-right"></i> </div>
                                    <div class="col-4">{{section.arrivee}}</div>
                                    <div class="col-3">{{section.prix}} FCFA</div> -->
                            </div>
                            <!-- section 2  -->
                            <!-- <div class="row mb-3">
                                <div class="col-4">Terminus HLM Grand Yoff </div>
                                <div class="col-4">Scat Urbam</div>
                                <div class="col-4">150 FCFA</div>
                            </div> -->
                            <!-- section 3  -->
                            <!-- <div class="row mb-3">
                                <div class="col-4">Terminus HLM Grand Yoff </div>
                                <div class="col-4">Scat Urbam</div>
                                <div class="col-4">150 FCFA</div>
                            </div> -->
                            <!-- section 4  -->
                            <!-- <div class="row mb-3">
                                <div class="col-4">Terminus HLM Grand Yoff </div>
                                <div class="col-4">Scat Urbam</div>
                                <div class="col-4">150 FCFA</div>
                            </div> -->
                        </div>

                        <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showItineraire(ligneAftu)">Voir itinéraire</button>

                    </div>

                </div>
            </div>

            <!-- Pagination  -->
            <div *ngIf="getItemsPage(tabLigneAftuFilter).length">
                <div class="d-flex justify-content-end mb-2">
                <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
                    <i class="bi bi-caret-left-fill fs-4"></i>
                </button>
                <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                    <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                    <span  *ngIf="page != pageActuelle">{{page}}</span>
                    <!-- {{ page }} -->
                </button>
                <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
                    <i class="bi bi-caret-right-fill fs-4"></i>
                </button>
                </div>
            </div>
        </div>

        <!-- Pagination  -->
        <!-- Fin pagination  -->
    </div>

    <!-- Section lignes de Dakar Dem Dikk  -->
    <div class="sectionLignesDemDikk sectionEspace">
        <!-- Recherhcer une ligne  -->
        <div class="row sectionEspace ligneReseauSearch ">
            <div class="col-sm-8">
                <h3 class="titre">Lignes réseau Dakar Dem Dikk </h3>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                <input type="text" name="search" class="form-control" placeholder="Rechercher une ligne" [(ngModel)]="filterValueDemDikk" (input)="onSearch()">
                <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
              </div>
            </div>  
        </div>

        <!-- Menu filtre pour le projet  -->
        <!-- <div class="menuFiltre my-3">
            <div class="filtreSection">
                <button class="btn filtreActive fw-bold px-3" *ngIf="isUrbaine">Lignes Urbaines</button>
                <button class="btn fw-bold px-3" *ngIf="!isUrbaine" (click)="showUrbaine()">Lignes Urbaines</button>
            </div>

            <div class="filtreSection">
                <button class="btn filtreActive fw-bold px-3" *ngIf="isBanlieue">Lignes de banlieue</button>
                <button class="btn fw-bold px-3" *ngIf="!isBanlieue" (click)="showBanlieue()">Lignes de banlieue</button>
            </div>

            <div class="filtreSection">
                <button class="btn filtreActive fw-bold px-3" *ngIf="isAIBD">Lignes AIBD & Diamniadio </button>
                <button class="btn fw-bold px-3" *ngIf="!isAIBD" (click)="showAIBD()">Lignes AIBD & Diamniadio </button> 
            </div>
        </div> -->
        <div class="menuFiltre my-3">
            <button class="btn filtreActive fw-bold px-3" [ngClass]="{filtreInactive: !isAll}" (click)="showAllLigne()">Toutes les lignes</button>
            <div class="filtreSection" *ngFor="let typeLigne of tabTypeLigne let index=index">
                <button class="btn fw-bold px-3" [ngClass]="{filtreActive: typeLigne.isActif}" (click)="showLigneFilter(typeLigne, index)">Lignes {{typeLigne.nom}}</button>
                <!-- <button class="btn fw-bold px-3" *ngIf="!isUrbaine" (click)="showUrbaine()">Lignes Urbaines</button> -->
            </div>

            <!-- <div class="filtreSection">
                <button class="btn filtreActive fw-bold px-3" *ngIf="isBanlieue">Lignes de banlieue</button>
                <button class="btn fw-bold px-3" *ngIf="!isBanlieue" (click)="showBanlieue()">Lignes de banlieue</button>
            </div>

            <div class="filtreSection">
                <button class="btn filtreActive fw-bold px-3" *ngIf="isAIBD">Lignes AIBD & Diamniadio </button>
                <button class="btn fw-bold px-3" *ngIf="!isAIBD" (click)="showAIBD()">Lignes AIBD & Diamniadio </button> 
            </div> -->
        </div>

        <!-- Les lignes urbaines  -->
        <div class="lignesUrbaine sectionEspace" *ngIf="isUrbaine">
            <!-- Liste des lignes du réseau  -->
            <div class="ligne row ">
                <div class="col-md-4 mb-3" *ngFor="let ligneDemDikk of getItemsPage(tabLigneDemDikkFilter)">
                    <div class="card text-center p-3 rounded-4" *ngIf="ligneDemDikk.sections.length">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">{{ligneDemDikk.nom}}</span></p>
                        <!-- <span class="numLigne fw-bold fs-1 shadow-sm">1</span> -->
                        <h4 class="itineraireLigne mb-4">{{ligneDemDikk.lieuDepart}} - {{ligneDemDikk.lieuArrivee}}</h4>

                        <!-- Liste des sections  -->
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                <!-- section 1  -->
                                <div class="row mb-3" *ngFor="let section of ligneDemDikk.sections">
                                    <div class="col-4">{{section.depart}} </div>
                                    <div class="col-1"><i class="bi bi-arrow-left-right"></i> </div>
                                    <div class="col-4">{{section.arrivee}}</div>
                                    <div class="col-3">{{section.prix}} FCFA</div>
                                </div>
                                
                                
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showItineraire(ligneDemDikk)">Voir itinéraire</button>

                        </div>

                    </div>
                </div>

                <!-- Pagination  -->
                <div *ngIf="getItemsPage(tabLigneDemDikkFilter).length">
                    <div class="d-flex justify-content-end mb-2">
                    <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
                        <i class="bi bi-caret-left-fill fs-4"></i>
                    </button>
                    <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                        <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                        <span  *ngIf="page != pageActuelle">{{page}}</span>
                        <!-- {{ page }} -->
                    </button>
                    <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
                        <i class="bi bi-caret-right-fill fs-4"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Les lignes de banlieue  -->
        <!-- <div class="lignesUrbaine sectionEspace" *ngIf="isBanlieue">
            Liste des lignes du réseau 
            <div class="ligne row ">
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">2</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">5</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">7</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
            </div>
        </div> -->

        <!-- Les lignes AIBD  -->
        <!-- <div class="lignesUrbaine sectionEspace" *ngIf="isAIBD">
            Liste des lignes du réseau 
            <div class="ligne row ">
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">4</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">6</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card text-center p-3 rounded-4">
                        <p class="numLigneContainer text-center"><span class="numLigne fw-bold fs-1 shadow-sm">8</span></p>
                        <span class="numLigne fw-bold fs-1 shadow-sm">1</span>
                        <h4 class="itineraireLigne mb-4">HLM Grand Yoff - Lat Dior</h4>

                        Liste des sections 
                        <div class="">
                            <h5 class="sections fw-bold mb-3">Sections:</h5>

                            <div class="sectionsConatiner container mb-3">
                                section 1 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 2 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 3 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                                section 4 
                                <div class="row mb-3">
                                    <div class="col-4">Terminus HLM Grand Yoff </div>
                                    <div class="col-4">Scat Urbam</div>
                                    <div class="col-4">150 FCFA</div>
                                </div>
                            </div>

                            <button class="btn btnItineraire px-4 fw-bold mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voir itinéraire</button>

                        </div>

                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>


<app-footer></app-footer>
 
<!-- Modal Itinéraire complet-->
<div class="modal fade modalItineraire" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            
            <div class="modal-body">
                <h3 class="modal-title fs-5 titre mb-4" id="staticBackdropLabel">Ligne {{ligneObject.nom}}</h3>
                <h6 class="fw-bold">Itinéraire complet:</h6> 
                
                <p class="mb-5 d-bloc">
                    <span *ngFor="let itineraire of ligneObject.itineraires let index=index" >
                        <span *ngIf="index < ligneObject.itineraires.length - 1"> {{itineraire}}  =></span>
                        
                        <span  *ngIf="index == ligneObject.itineraires.length - 1">{{itineraire}}</span>
                    </span>
                    <!-- <span> =></span> -->
                    <!-- HLM Grand Yoff (Face Autoroute) => Scat Urbam => Liberté 6 => Derklé => Liberté 4 => Rond Point Jet d'eau => Bourguiba => Grand Dakar => Fass Médina => Sham => Avenue Blaise Diagne => Terminus Lat Dio -->
                </p>  
                     
                <button type="button" class="btn btnItineraire" data-bs-dismiss="modal">Fermer</button>
            </div>
            
        </div>
    </div>
</div>