<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>
        <!-- Contenu dashbord  -->
        <div class="container containerReseau mb-5" [class.containerAdminSystem]="infosUser.type == 'admin'">
        <main class="container">
            <!-- Les infos du profil  -->
            <div class="containerProfil px-5" *ngIf="isInfo">
                <h3 class="text-center fw-bold mb-5">Informations du profil</h3>
                <div class="row px-4 infoProfil">
                    <!-- Image de la personne  -->
                    <div class="col-lg-5 mb-3 profil">
                        <div class="card py-3">
                            <div class="card-body" >
                                <div class="text-end"><i class="bi bi-pencil-square" (click)="showModifProfil()"></i></div>
                                <div class="text-center">
                                    <img [src]="imageUserConnected" alt="" *ngIf="imageUserConnected"> 
                                    <img src="https://img.freepik.com/vecteurs-premium/icone-profil-utilisateur-dans-style-plat-illustration-vectorielle-avatar-membre-fond-isole-concept-entreprise-signe-autorisation-humaine_157943-15752.jpg" alt="" *ngIf="!imageUserConnected">         
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 infosUser">
                        <div class="card py-3">
                            <div class="card-body" *ngIf="userConnect">
                              <p class="card-text mb-3"><span class="fw-bold">Nom:</span> {{userConnect.nom}}</p>
                              <p class="card-text mb-3"><span class="fw-bold">Prenom: </span>{{userConnect.prenom}}</p>
                              <p class="card-text mb-3"><span class="fw-bold">Email:</span> {{userConnect.email}}</p>
                              <p class="card-text mb-3" *ngIf="infosUser.type != 'admin'"><span class="fw-bold">Adresse:</span> {{userConnect.adresse}}</p>
                              <p class="card-text mb-3"><span class="fw-bold">Telephone:</span> {{userConnect.telephone}}</p>
                              <p class="card-text mb-3" *ngIf="reseauName"><span class="fw-bold">Role:</span> Administrateur réseau </p>
                              <p class="card-text" *ngIf="infosUser.type == 'admin'"><span class="fw-bold">Role:</span> Administrateur du système </p>
                              <p class="card-text" *ngIf="reseauName"><span class="fw-bold">Reseau:</span> {{reseauName | titlecase}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modification du profil  -->
            <div class="containerProfil modifProfil px-5" *ngIf="isModifProfil">
                <div class="text-center">
                    <h3 class="text-center fw-bold mb-5"><span class="float-start" (click)="showInfosProfil()"><i class="bi bi-arrow-left-square-fill"></i></span>Modification du profil</h3>
                    <!-- <p (click)="showInfosProfil()" >Voir les infos de mon profil</p> -->
                </div>
                <div class="row px-4 mt-4">
                    <!-- Image de la personne  -->
                    <div class="col-lg-5 mb-3 profil">
                        <div class="card py-3">
                            <div class="card-body">
                                <!-- formumaire pour modifier l'image avec encryption multipart/form-data  -->
                                <form action=""  enctype="multipart/form-data" (onSubmit)="changeImage()">
                                    <div class="text-center mb-3">
                                        <img [src]="imageUserConnected" alt="" *ngIf="imageUserConnected"> 
                                        <img src="https://img.freepik.com/vecteurs-premium/icone-profil-utilisateur-dans-style-plat-illustration-vectorielle-avatar-membre-fond-isole-concept-entreprise-signe-autorisation-humaine_157943-15752.jpg" alt="" *ngIf="!imageUserConnected">         
                                    </div>
                                    <div class="modifierImage  text-center mb-3">
                                        <label for="fileInput" class="changeMdp">Modifier l'image</label>
                                        <input type="file" name="image" id="fileInput" style="display: none;" accept="image/*" (change)="uploadImage($event)">
                                    </div>
                                </form>
    
                                <p class="card-text text-center fw-bold" *ngIf="userConnect">{{userConnect.prenom}} {{userConnect.nom}}</p>
                                <p class="card-text text-center" *ngIf="reseauName">Administrateur réseau {{reseauName | titlecase}}</p>
                                <p class="card-text text-center" *ngIf="infosUser.type == 'admin'">Administrateur du système </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 modifUser">
                        <div class="card pt-4 py-2 px-4 border-0 shadow-sm">
                            <form action="">
                                <div class="mb-3">
                                    <label for="emailInput" class="form-label">Adresse email: <span class="require">*</span></label>
                                    <input type="email" name="email" class="form-control" id="emailInput" [(ngModel)]="emailModif" (input)="verifEmailModif(emailModif)">
                                    <p class="text-danger messageInfo" *ngIf="emailMessage"><i class="bi bi-exclamation-circle"></i> {{emailMessage}}</p>

                                </div>
                                <div class="mb-3">
                                    <label for="telephone" class="form-label">Telephone: <span class="require">*</span></label>
                                    <input type="text" name="telephone" class="form-control" id="telephone" [(ngModel)]="telephonModif"  (input)="verifPhoneModif(telephonModif)">
                                    <p class="text-danger messageInfo" *ngIf="phoneMessage"><i class="bi bi-exclamation-circle"></i> {{phoneMessage}}</p>
                                </div>
                                <div class="mb-3" *ngIf="infosUser.type != 'admin'">
                                    <label for="adresseInput" class="form-label">Adresse: <span class="require">*</span></label>
                                    <input type="text" name="adresse" class="form-control" id="adresseInput" [(ngModel)]="userConnect.adresse"  (input)="verifAdresseFunction(userConnect.adresse)">
                                    <p class="text-danger messageInfo" *ngIf="adresseMessage"><i class="bi bi-exclamation-circle"></i> {{adresseMessage}}</p>
                                </div>
            
                                <div class="mb-3">
                                    <button type="button" class="btn px-3" (click)="modiferProfil()">Modifier</button>
                                    <!-- <button type="button" class="btn me-4" (click)="ajouterAdmin()" [disabled]="!isNameValid || !isPrenomValid || !isPhoneValid || !isAdresseValid || !isEmailValid || !isPasswordValid" [class.deseable]="!isNameValid || !isPrenomValid || !isPhoneValid || !isAdresseValid || !isEmailValid || !isPasswordValid">Ajouter</button> -->

                                </div>
                            </form>
                            <p class="changeMdp" (click)="showModifMdp()">Changer votre mot de passe</p>  
                            <!-- <p class="espaceVid">hhh</p>                          
                            <p class="espaceVid">hhh</p>                           -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Changer le mot de passe -->
            <div class="containerProfil px-5" *ngIf="isModifMdp">
                <h3 class="text-center fw-bold mb-5"><span class="float-start" (click)="showModifProfil()"><i class="bi bi-arrow-left-square-fill"></i></span>Modification du mot de passe</h3>
                <!-- <h3 class="text-center fw-bold mb-5">Modification du mot de passe</h3> -->
                <!-- <p (click)="showInfosProfil()" >Voir les infos de mon profil</p> -->
                <!-- <p (click)="showModifProfil()" >Modifier mon profil</p> -->
                <div class="row px-4 ">
                    <!-- Image de la personne  -->
                    <div class="col-lg-5 mb-3 profil">
                        <div class="card py-3 border-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <img [src]="imageUserConnected" alt="" *ngIf="imageUserConnected"> 
                                    <img src="https://img.freepik.com/vecteurs-premium/icone-profil-utilisateur-dans-style-plat-illustration-vectorielle-avatar-membre-fond-isole-concept-entreprise-signe-autorisation-humaine_157943-15752.jpg" alt="" *ngIf="!imageUserConnected">         
                                </div>
                                <p class="card-text text-center fw-bold">{{userConnect.prenom}} {{userConnect.nom}}</p>
                                <p class="card-text text-center" *ngIf="reseauName">Administrateur réseau {{reseauName | titlecase}}</p>
                                <p class="card-text text-center" *ngIf="infosUser.type == 'admin'">Administrateur du système </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 modifUser">
                        <div class="card py-3 px-4 border-0 shadow-sm">
                            <form action="">
                                <div class="mb-3">
                                    <label for="passwordInput" class="form-label">Ancien mot de passe: <span class="require">*</span></label>
                                    <div class="input-group">
                                        <input type="{{ hidePassword ? 'password' : 'text' }}" name="password" class="form-control" id="passwordInput" placeholder="Votre ancien mot de passe" [(ngModel)]="password" (input)="verifOldPasswordFunction(password)">
                                        <!-- <input type="{{ hidePassword ? 'password' : 'text' }}" name="password" class="form-control" id="passwordInput" placeholder="Votre mot de passe ..." [(ngModel)]="password" (input)="verifPasswordFunction()">  -->
                                        <span class="input-group-text" (click)="passwordVisibility()" *ngIf="hidePassword"><i class="bi bi-eye-fill iconeEyes"></i></span>
                                        <span class="input-group-text" (click)="passwordVisibility()" *ngIf="!hidePassword"><i class="bi bi-eye-slash-fill iconeEyes"></i></span>
                                    </div>
                                    <p class="text-danger messageInfo" *ngIf="passworldOldMessage"><i class="bi bi-exclamation-circle"></i> {{passworldOldMessage}}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="passwordNewInput" class="form-label">Nouveau mot de passe: <span class="require">*</span></label>
                                    <div class="input-group">
                                        <input type="{{ hidePasswordNew ? 'password' : 'text' }}"  name="passwordNew" class="form-control" id="passwordNewInput" placeholder="Votre nouveau mot de passe" [(ngModel)]="passwordNew" (input)="verifNewPasswordFunction(passwordNew)" >
                                        <span class="input-group-text" (click)="passwordNewVisibility()" *ngIf="hidePasswordNew"><i class="bi bi-eye-fill iconeEyes"></i></span>
                                        <span class="input-group-text" (click)="passwordNewVisibility()" *ngIf="!hidePasswordNew"><i class="bi bi-eye-slash-fill iconeEyes"></i></span>
                                    </div>
                                    <p class="text-danger messageInfo" *ngIf="passwordMessage"><i class="bi bi-exclamation-circle"></i> {{passwordMessage}}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="passwordConf" class="form-label">Confirmation de mot de passe: <span class="require">*</span></label>
                                    <div class="input-group">
                                        <input type="{{ hidePasswordConf ? 'password' : 'text' }}" name="passwordConf" class="form-control" id="passwordConf" placeholder="Confirmation du nouveau mot de passe" [(ngModel)]="passwordConf" (input)="verifConfirmPasswordFunction(passwordNew, passwordConf)">
                                        <span class="input-group-text" (click)="passwordConfVisibility()" *ngIf="hidePasswordConf"><i class="bi bi-eye-fill iconeEyes"></i></span>
                                        <span class="input-group-text" (click)="passwordConfVisibility()" *ngIf="!hidePasswordConf"><i class="bi bi-eye-slash-fill iconeEyes"></i></span>
                                    </div>
                                    <p class="text-danger messageInfo" *ngIf="passwordConformMessage"><i class="bi bi-exclamation-circle"></i> {{passwordConformMessage}}</p>
                                </div>
            
                                <div class="mb-3">
                                    <button type="button" class="btn px-3" (click)=" modifPassword()" [disabled]="!isOldPassword || !isPasswordValid || !isPasswodConform" [class.deseable]="!isOldPassword || !isPasswordValid || !isPasswodConform">Modifier</button>
                                </div>
                            </form>                           
                        </div>
                    </div>
                </div>

            </div>
            
        </main>
        </div>
    </div>
</div>

<!-- Utilisation d'une icône et d'un lien simulé -->
<script>
    // Ajoutez un gestionnaire d'événements au lien simulé pour déclencher le clic sur le champ d'entrée réel
    document.querySelector('label[for="fileInput"]').addEventListener('click', function() {
      document.getElementById('fileInput').click();
    });
</script>