<!-- Sidebar  -->
<nav class="navbar sticky-top navbar-expand-lg bg-body shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="#" routerLink="/accueil"><img src="assets/yonewilogo.png" alt="Logo sama-gokh" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/accueil" routerLinkActive="active">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/apropos" routerLinkActive="active">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"routerLink="/lignes" routerLinkActive="active">Lignes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="rla.isActive || rla2.isActive" class="activeAbonnements">Abonnements</a>
                    <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!rla.isActive && !rla2.isActive">Abonnements</a>
                    <ul class="dropdown-menu text-center border-0 shadow-sm">
                      <li class="mb-3 pe-5"><a class="dropdown-item abonnementItem" href="#" routerLink="/reseauAftu" routerLinkActive #rla="routerLinkActive">Reseau AFTU</a></li>
                      <li class="mb-3 pe-5"><a class="dropdown-item abonnementItem" href="#" routerLink="/reseauDDD" routerLinkActive #rla2="routerLinkActive">Reseau Dakar Dem Dikk</a></li>
                    </ul>
                </li>            
            </ul>
            <div class="profil">
                <a href="#" class="btn btnConnexion" routerLink="/auth" *ngIf="!userConnect">Se connecter</a>
                <a href="#" routerLink="/profil"><img [src]="imageUserConnected" alt="" *ngIf="userConnect && imageUserConnected"></a>       
                <img src="https://img.freepik.com/vecteurs-premium/icone-profil-utilisateur-dans-style-plat-illustration-vectorielle-avatar-membre-fond-isole-concept-entreprise-signe-autorisation-humaine_157943-15752.jpg" alt="" *ngIf="userConnect && !imageUserConnected">       
        
            </div>
        </div>
    </div>
</nav>
<!-- Fin sidebar  -->