.dashbord{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.container{
    padding: 0 8vh;

}
.container .card{
    border: none;
    border-radius: 0;
    /* min-height: 50vh; */
}

.titre {
    color: var(--base2);
}

.require {
    color: var(--base1);
}
/* Les boutons ajout admin et compte bloqués */

.btn{
    background-color: var(--base1);
    color: white;
    font-weight: bold;
}

.btnAnnuler{
    background-color: white;
    color: var(--base1);
    border: 1px solid var(--base1);
}

/* Recherche réseaux  */
.search input{
    border-right-color: white;
}

.search .iconesearch{
    background-color: white;
    border-left-color: white;
    color: var(--base2);
}

/* le tableau  */
thead tr th{
    background-color: var(--base1);
    color: white;
}

.btnAction{
    border: 1px solid var(--base2);
    background-color: white;
}


/* pagination  */
.pageActuelle{
    color: var(--base2);
    font-weight: bold;
}


.btnColor{
    color: var(--base1);
    border: 1px solid var(--base1);
    background-color: white;
}

.page{
    background-color: white;
    border: none;
}

.modalConfirm{
    margin: 24vh 0;
}

.modalConfirm i{
    font-size: 12vh;
    color: #facea8;
}

.modalConfirm .btnAnnuler{
    background-color: #636c74;
    color: white;
    border: none;
}

.centerDiv{
    margin: 0 auto;
}