<!-- Internaute  -->
<!-- <app-header></app-header> -->
<!-- <app-accueil></app-accueil> -->
<!-- <app-politique></app-politique> -->
<!-- <app-conditions></app-conditions> -->
<!-- <app-apropos></app-apropos> -->
<!-- <app-abonnement-ddd></app-abonnement-ddd> -->
<!-- <app-abonnement-aftu></app-abonnement-aftu> -->
<!-- <app-lignes></app-lignes> -->
<!-- <app-contact></app-contact> -->
<!-- <app-authentification></app-authentification> -->
<!-- <app-footer></app-footer> -->

<!-- Administrateur systeme  -->
<!-- <app-sidebar></app-sidebar>
<app-navbar></app-navbar> -->

<!-- <app-dashbord-admin-system></app-dashbord-admin-system> -->
<!-- <app-reseau></app-reseau> -->
<!-- <app-newsletter></app-newsletter> -->
<!-- <app-message></app-message> -->
<!-- <app-role></app-role> -->
<!-- <app-utilisateur></app-utilisateur> -->
<!-- <app-dashbord></app-dashbord> -->
<router-outlet></router-outlet>