<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Les statistics  -->
        <app-statistics></app-statistics>

        <!-- Liste des sections d'une ligne  -->
        <div class="containerNewsletter container">
            <div class="row px-4">
                <div class="card px-4 py-2 pt-4 shadow-sm rounded-4" *ngIf="tabNewsletter.length">
                    <!-- Recherhcer une ligne  -->
                    <div class="row sectionEspace search mb-3">
                        <div class="col-md-7">
                            <h3 class="fw-bold mb-3">Les inscrits à la Newsletter</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                                <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()" placeholder="Rechercher ......">
                                <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
                            </div>
                        </div>  
                    </div>
        
                    <!-- Le tableau des réseaux -->
                    <table class="table table-responsive mb-4">
                        <thead>
                            <tr>
                                <th scope="col">N° </th>
                                <th scope="col">Email</th>
                                <th scope="col">Date d'inscription</th>
                            </tr>
                        </thead>
        
                        <tbody *ngFor="let newsletter of getItemsPage()">
                            <tr>
                                <td>{{newsletter.id}}</td>
                                <td>{{newsletter.email}}</td>
                                <td>{{newsletter.created_at | date: 'dd/MM/yy, à HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
        
                    <!-- Pagination  -->
                    <div *ngIf="getItemsPage().length">
                        <div class="d-flex justify-content-end mb-2">
                        <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
                            <i class="bi bi-caret-left-fill fs-4"></i>
                        </button>
                        <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                            <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                            <span  *ngIf="page != pageActuelle">{{page}}</span>
                            <!-- {{ page }} -->
                        </button>
                        <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
                            <i class="bi bi-caret-right-fill fs-4"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center" *ngIf="!tabNewsletter.length">Aucun inscrit à la newsletter</h3>
        </div>
    </div>

</div>

