<app-header></app-header>

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <a href="" class="btn contact px-3 py-2" routerLink="/contact">Contactez-nous</a>        
    <!-- <button class=" btn contact px-3 py-2">Contactez-nous</button> -->
    <!-- <div class="contact">
        <a href="" class="btn btnContact px-3 py-2">Contactez-nous</a>        
    </div> -->
</div>
<!-- Fin banierre  -->

<!-- Contenu abonnement dém dikk  -->
<div class="container">
    <div class="sectionReseau mt-5">
        <h3 class="titre text-center mb-4">Le réseau AFTU</h3>
        <p class="mb-3">
            L'Association de Financement des professionnels du Transport Urbain (AFTU) est le
            réseau de transport en commun N°1 propose des lignes bus tata au Senegal,
            Apparu vers 2007 sur le réseau routier inter urbain et de couleur blanche avec des rayures bleues, les minibus (TATA)  relient la banlieue au centre ville.
            Ces minibus contribuent nettement à diminuer le problème de transport dans la capitale sénégalaise
        </p>
    </div>

    <!-- Les offres d'abonnements  -->
    <div class="sectionOffres sectionEspace">
        <h3 class="titre text-center mb-4">Offres d'abonnements</h3>
        <!-- Les types d'abonnement  -->
        <div class="row">
            <!-- La liste des abonnements  -->
            <div class="col-lg-4 px-5 mb-3" *ngFor="let abonnement of tabAbonnementsAftu let index=index">
                <div class="px-4">
                    <div class="sup" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}"></div>    
                        
                    <!-- <div class="sup bgactive"></div> -->
                </div>
                <div class="card abonnement text-center py-5 border-0">
                    <h3 class="mb-5 fs-1 fw-bold" [ngClass]="{textactive: !(index%2), textinactive: (index%2)}">{{abonnement.type}}</h3>
                    <h1 class="mb-5 fw-bold" [ngClass]="{textactive: !(index%2), textinactive: (index%2)}">{{abonnement.prix}} FCFA</h1>
                    <p class="mb-3">{{abonnement.duree}}</p>
                    <p class="mb-3">Toutes les lignes</p>
                    <p class="mb-5">{{abonnement.description}}</p>
    
                    <div class="text-center">
                        <a href="" class="btn px-3 py-2" data-bs-toggle="modal" data-bs-target="#abonnement" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}">Je m'abonne</a>        
                    </div>
                </div>
                <div class="px-4">
                    <div class="inf" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}"></div>
                </div>
            </div>

            <!-- Standard  -->
            <!-- <div class="col-lg-4 px-5 mb-3">
                <div class="px-4">
                    <div class="sup bginactive"></div>
                </div>
                <div class="card abonnement text-center py-5 border-0">
                    <h3 class="mb-5 fs-1 fw-bold textinactive">Standard</h3>
                    <h1 class="mb-5 fw-bold textinactive">25 000 FCFA</h1>
                    <p class="mb-3">1 Mois</p>
                    <p class="mb-3">Transport urbain</p>
                    <p class="mb-5">Toutes les lignes</p>
    
                    <div class="text-center">
                        <a href="" class="btn bginactive px-3 py-2" data-bs-toggle="modal" data-bs-target="#abonnement">Je m'abonne</a>        
                    </div>
                </div>
                <div class="px-4">
                    <div class="inf bginactive"></div>
                </div>
            </div> -->

            <!-- Premiun  -->
            <!-- <div class="col-lg-4 px-5 mb-3">
                <div class="px-4">
                    <div class="sup bgactive"></div>
                </div>
                <div class="card abonnement text-center py-5 border-0">
                    <h3 class="mb-5 fs-1 fw-bold textactive">Premium</h3>
                    <h1 class="mb-5 fw-bold textactive">40 000 FCFA</h1>
                    <p class="mb-3">2 Mois</p>
                    <p class="mb-3">Transport urbain</p>
                    <p class="mb-5">Toutes les lignes</p>
    
                    <div class="text-center">
                        <a href="" class="btn bgactive px-3 py-2" data-bs-toggle="modal" data-bs-target="#abonnement">Je m'abonne</a>        
                    </div>
                </div>
                <div class="px-4">
                    <div class="inf bgactive"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Comment ça marche  -->
<h3 class="titre text-center mb-4">Comment ça marche</h3>
<div class="commentCaMarche py-3 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/imgabonnement.png" alt="">
            </div>
    
            <div class="col-lg-6 py-5">
                <p class="fs-4 mb-5">Abonnez vous aux lignes du réseau Dakar Dem Dikk en toute sécurité et profitez aux maximum du plaisir de se déplacer à tout moment.</p>
                <div class="px-5">
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-1-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Selectionnez votre abonnement</p>
                    </h4>
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-2-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Cliquez sur le bouton je m’abonne</p>
                    </h4>
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-3-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Contactez directement  le réseau</p>
                    </h4>
                    
                </div>
            </div>
    
        </div>

    </div>
</div>

<app-footer></app-footer>

<!-- Modal abonnement complet-->
<div class="modal fade modalInfoAbonnement" id="abonnement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="abonnementLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            
            <div class="modal-body text-center">
                <h4 class="modal-title fs-5 contactReseau fw-bold mb-4" id="abonnementLabel">Contactez le réseau AFTU</h4>
                <h6 class="mb-3"><span class="fw-bold">Email: </span>  magid@gmail.com </h6> 
                <h6 class="mb-4"><span class="fw-bold">Téléphone: </span> 77 777 77 77</h6> 

                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
            
        </div>
    </div>
</div>