<app-header></app-header>

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <a href="" class="btn contact px-3 py-2" routerLink="/contact">Contactez-nous</a>        
    <!-- <button class=" btn contact px-3 py-2">Contactez-nous</button> -->
    <!-- <div class="contact">
    </div> -->
</div>
<!-- Fin banierre  -->

<!-- Contenu abonnement dém dikk  -->
<div class="container">
    <div class="sectionReseau mt-5">
        <h3 class="titre text-center mb-4">Le réseau Dakar Dem Dikk</h3>
        <p class="mb-3">
            Depuis le 1er janvier 2001, Dakar Dem Dikk s’est donné la mission d’offrir aux populations un service de transport répondant aux normes de la modernité. 
            Avec plus de 675 bus dans le réseau et près de 2000 départs par jour, les DDD facilitent le déplacement des voyageurs aussi bien dans le transport urbain que dans les déplacements à l’intérieur du pays.
        </p>
    </div>

    <!-- Les offres d'abonnements  -->
    <div class="sectionOffres sectionEspace">
        <h3 class="titre text-center mb-4">Offres d'abonnements</h3>
        <!-- Les types d'abonnement  -->
        <div class="row">
            <!-- Basic  -->
            <div class="col-lg-4 px-5 mb-3" *ngFor="let abonnement of tabAbonnementsDemDikk let index=index">
                <div class="px-4">
                    <div class="sup" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}"></div>    
                        
                    <!-- <div class="sup bgactive"></div> -->
                </div>
                <div class="card abonnement text-center py-5 border-0">
                    <h3 class="mb-5 fs-1 fw-bold" [ngClass]="{textactive: !(index%2), textinactive: (index%2)}">{{abonnement.type}}</h3>
                    <h1 class="mb-5 fw-bold" [ngClass]="{textactive: !(index%2), textinactive: (index%2)}">{{abonnement.prix}} FCFA</h1>
                    <p class="mb-3">{{abonnement.duree}}</p>
                    <p class="mb-3">Toutes les lignes</p>
                    <p class="">{{abonnement.description}}</p>
    
                    <!-- <div class="text-center">
                        <a href="" class="btn px-3 py-2" data-bs-toggle="modal" data-bs-target="#abonnement" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}" (click)="redirectToWhatsapp()">Je m'abonne</a>        
                    </div> -->
                </div>
                <div class="px-4">
                    <div class="inf" [ngClass]="{bgactive: !(index%2), bginactive: (index%2)}"></div>
                </div>
            </div>

        </div>
        <div class="explorer text-center">
            <a href="#" class="btn btnExplorer px-2 fw-bold fs-5 col-lg-3" data-bs-toggle="modal" data-bs-target="#abonnement" (click)="redirectToWhatsapp()">Souscrire à un abonnement</a>
        </div>
    </div>
</div>

<!-- Comment ça marche  -->
<h3 class="titre text-center mb-4">Comment ça marche</h3>
<div class="commentCaMarche py-3 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/imgabonnement.png" alt="">
            </div>
    
            <div class="col-lg-6 py-5">
                <p class="fs-4 mb-5">Abonnez vous aux lignes du réseau Dakar Dem Dikk en toute sécurité et profitez aux maximum du plaisir de se déplacer à tout moment.</p>
                <div class="px-5">
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-1-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Selectionnez votre abonnement</p>
                    </h4>
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-2-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Cliquez sur le bouton je m’abonne</p>
                    </h4>
                    <h4 class="mb-5 d-flex">
                        <i class="bi bi-3-circle fs-1 me-4 mt-2"></i>
                        <p class="fw-bold mt-3">Contactez directement  le réseau</p>
                    </h4>
                    
                </div>
            </div>
    
        </div>

    </div>
</div>

<app-footer></app-footer>

<div class="modal fade modalInfoAbonnement" id="abonnement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="abonnementLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            
            <div class="modal-body text-center">
                <h4 class="modal-title fs-5 contactReseau fw-bold mb-4" id="abonnementLabel">Contactez le réseau Dakar Dem Dikk</h4>
                <h6 class="mb-3 contactEmail"><span class="fw-bold">Email: </span> <a href="mailto:{{reseauDemDikk.email}}">{{reseauDemDikk.email}}</a> </h6> 
                <h6 class="mb-4 contactEmail"><span class="fw-bold">Téléphone: </span> <a [href]="watsappTO" target="_blank"> {{reseauDemDikk.telephone}}</a></h6> 
                <!-- <h6 class="mb-4"><span class="fw-bold">Téléphone: </span>{{reseauDemDikk.telephone}}</h6>  -->

                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
            
        </div>
    </div>
</div>