<app-header></app-header>

<!-- Banierre  -->
<div class="banierre">
    <div class="containerBanner">
    </div>
    <div class="chemin">
        <h5>     
            <a href="" routerLink="/accueil" class="ms-4"> Accueil</a> 
            <i class="bi bi-circle-fill mx-3  icone"></i> 
            <span>Politique de confidentialité</span>
        </h5>
    </div>
</div>
<!-- Fin banierre  -->

<div class="container">
    <h3 class="titre text-center mb-4">Politiques de confidentialités de <span class="yoneWi">Yone Wi</span></h3>
    <p class="mb-4">Bienvenue sur Yone wi, une plateforme dédiée à faciliter la recherche de trajets pour les lignes des bus Tata et Dakar Dém Dikk au Sénégal. La présente politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons les informations personnelles des utilisateurs.</p>

    <h5 class="mb-3 fw-bold">1. Informations que nous collectons</h5>
    <h6 class="mb-3 fw-bold">1.1 Informations fournies par l’utilisateur</h6>
    <p class="mb-4">Lorsque vous utilisez Yone wi, vous pouvez être invité à fournir des informations telles que votre emplacement, vos préférences de trajet, et d'autres données personnelles nécessaires pour améliorer votre expérience.</p>
    
    <h6 class="mb-3 fw-bold">1.2 Données d'utilisation</h6>
    <p class="mb-5">Nous recueillons des informations sur la manière dont vous utilisez la plateforme, y compris les trajets recherchés, les fonctionnalités utilisées et les interactions avec la plateforme.</p>


    <h5 class="mb-3 fw-bold">2. Utilisation des informations</h5>
    <p >Nous utilisons les informations collectées pour : </p>
    <ul class="mb-5">
        <li>Améliorer et optimiser la plateforme.</li>
        <li>Communiquer avec les utilisateurs sur les mises à jour, les changements de politique et les informations importantes sur les transports en commun.</li>
    </ul>

    <h5 class="mb-3 fw-bold">3. Partage des informations</h5>
    <p >Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement, sauf dans les cas suivants : </p>
    <ul class="mb-5">
        <li>Avec les autorités de transport en commun pour fournir des données en temps réel.</li>
        <li>Pour répondre à des obligations légales ou protéger nos droits.</li>
    </ul>


    <h5 class="mb-3 fw-bold">4. Sécurité des données</h5>
    <p class="mb-5">
        Nous mettons en place des mesures de sécurité techniques et organisationnelles pour protéger vos informations contre tout accès non autorisé, altération, divulgation ou destruction.
    </p>

    <h5 class="mb-3 fw-bold">5. Vos droits</h5>
    <p class="mb-5">
        Vous avez le droit d'accéder, de rectifier ou de supprimer vos informations personnelles. Pour exercer ces droits, veuillez nous contacter à l'adresse yone.sn@gmail.com.
    </p>


    <h5 class="mb-3 fw-bold">6. Modifications de la politique de confidentialité</h5>
    <p class="mb-5">
        Nous nous réservons le droit de mettre à jour notre politique de confidentialité. Les modifications seront publiées sur la plateforme et entreront en vigueur immédiatement.
    </p>

    <h5 class="mb-3 fw-bold">7. Contact</h5>
    <p class="mb-5">
        Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à yone.sn@gmail.com ou renseigner le formulaire de contact directement.
     </p>
</div>

<app-footer></app-footer>